<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
		<span id="busuanzi_container_site_pv">    恭喜您成为本站第9999位访客</span>
      	<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">未来可期</a>
      	</div>
    </div>
  </div>
</footer>